<% if logged_in?(:site_admin) || logged_in?(:site_editor) %>
  <nav class="breadcrumb blogcrumb">
    <% if logged_in?(:site_admin) %>
      <%= link_to fa_icon('file-text'), toggle_status_blog_path(blog), style: blog_status_color(blog) %>
      <%= link_to fa_icon('pencil-square-o'), edit_blog_path(blog) %>
      <%= link_to fa_icon('trash'), blog, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% elsif logged_in?(:site_editor) %>
      <%= link_to fa_icon('pencil-square-o'), edit_blog_path(blog) %>
    <% end %>
  </nav>
<% end %>
